@import url("https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&family=Open+Sans+Condensed:wght@700&display=swap");

Header {
    grid-area: header;
}
.estiloHeader {
    height: 60px;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 42%);
    background-color: #fffbef;

}

.menuNav {
    height: 60px;
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    
}
a:link {
    text-decoration: none;
}
  
a:visited{
    color: #101010;
}
.itemLista {
    color: #101010;
    font-family: 'Open Sans Condensed', sans-serif;
}
.itemLista:hover {
  color: #f9ae48;
  text-decoration: none;
}
#itemBonsDrinks:hover {
    color: #f9ae48;
}