footer {
    grid-area: footer;
    width: 100%;
    text-align: center;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 42%);
    position: fixed;
    margin-bottom: 0px;
    bottom: 0px;
}
  
.peStilo {
    font-size: small;
    margin-top: 12px;
    text-shadow: 4px 4px 5px rgb(0 0 0 / 42%);
  }
.pezinho {
    height: 40px;
    font-size: 12px;
    font-weight: bold;
    bottom: 0;
    background-color: #fffbef;
    place-items: center;
}