@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.listaConteudo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
  padding: 30px;
}

h4 {
  display: inline;

}
.itensLiConteudo {
  font-family: "Lato", sans-serif;
}
